<p>nutzer-liste works!</p>
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading">
    <table>
        <thead>
            <tr>
                <th>NutzerID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Konto ID</th>
                <th>Depot ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nutzer">
                <td>{{ item.id }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.kontoID }}</td>
                <td>{{ item.depotID }}</td>
            </tr>
        </tbody>
    </table>
</div>
