<div class="broker-container">
    <h2>Mein Verrechnungskonto</h2>
    <p>Ihr aktueller Kontostand beträgt: {{ kontostand }}$</p>
    <p></p>
    <button (click)=" openDepositPopup()">Geld einzahlen</button>
    <button (click)=" openWithdrawalPopup()">Geld auszahlen</button>
</div>
<div class="broker-container">
    <h2>Mein Zahlungsverlauf: Behalten Sie Ihre Finanzgeschäfte im Blick</h2>
    <p>In diesem Bereich finden Sie eine detaillierte Aufzeichnung Ihrer getätigten Ein- und Auszahlungen.</p>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading&&!keineZahlungen">
        <table class="table-transaktionen">
            <thead>
                <tr>
                    <th (click)="sortTable('zeitpunkt')">Zeitpunkt</th>
                    <th (click)="sortTable('betrag')">Betrag</th>
                    <th (click)="sortTable('typ')">Typ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of zahlungen">
                    <td>{{ item.zeitpunkt | date:'medium' }}</td>
                    <td>{{ item.betrag}}</td>
                    <td>{{ item.typ}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!isLoading&&keineZahlungen">
        <p>Sie haben noch keine Ein- oder Auszahlungen getätigt.</p>
    </div>
</div>