<div class="broker-container">
    <h2> <i class="fa-solid fa-credit-card"></i> Mein Verrechnungskonto</h2>
    <div *ngIf="isLoading" class="loading-spinner">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!isLoading">
        <p>Ihr aktueller Kontostand beträgt: <b>{{ kontostand }}$</b></p>
        <p></p>
        <button (click)=" openEinzahlenPopup()">Geld einzahlen</button>
        <button (click)=" openAuszahlenPopup()">Geld auszahlen</button>
    </div>
</div>
<div class="broker-container">

    <h2> <i class="fa-solid fa-money-bill-transfer"></i> Mein Zahlungsverlauf: Behalten Sie Ihre Finanzgeschäfte im
        Blick</h2>
    <p>In diesem Bereich finden Sie eine detaillierte Aufzeichnung Ihrer getätigten Ein- und Auszahlungen.</p>
    <div *ngIf="isLoading" class="loading-spinner">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!isLoading&&!keineZahlungen">
        <table class="table-transaktionen">
            <thead>
                <tr>
                    <th (click)="sortTable('zeitpunkt')">Zeitpunkt</th>
                    <th (click)="sortTable('betrag')">Betrag (in $)</th>
                    <th (click)="sortTable('typ')">Typ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of zahlungen">
                    <td>{{ item.zeitpunkt | date:'medium' }}</td>
                    <td>{{ item.betrag}}</td>
                    <td>{{ item.typ}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!isLoading&&keineZahlungen">
        <p>Sie haben noch keine Ein- oder Auszahlungen getätigt.</p>
    </div>
</div>