<div class="broker-container">
  <h2>Transaktionsverlauf: Behalten Sie Ihre Finanzgeschäfte im Blick</h2>
  <p>In diesem Bereich finden Sie eine detaillierte Aufzeichnung Ihrer getätigten Geschäfte.</p>
  <p>Sortieren Sie Ihre Transaktionen ganz nach Ihren Bedürfnissen, indem Sie einfach auf die Spaltenüberschriften
    klicken.</p>

  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading&&!keineTransaktionen">
    <table class="table-transaktionen">
      <thead>
        <tr>
          <th (click)="sortTable('isin')">ISIN</th>
          <th (click)="sortTable('betrag')">Betrag</th>
          <th (click)="sortTable('zeitstempel')">Zeitstempel</th>
          <th (click)="sortTable('anzahl')">Anzahl</th>
          <th (click)="sortTable('typ')">Typ</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transaktionen">
          <td>{{ item.isin }}</td>
          <td>{{ item.betrag | currency:'EUR' }}</td>
          <td>{{ item.zeitstempel | date:'medium' }}</td>
          <td>{{ item.anzahl }}</td>
          <td>{{ item.typ }}</td>
        
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!isLoading&&keineTransaktionen">
    <p>Sie haben noch keine Transaktionen getätigt.</p>
  </div>
</div>
