<div class="broker-container">
    <h2><i class="fa-solid fa-chart-line"></i> Historische Portfolioentwicklung</h2>
    <div *ngIf="isLoading" class="loading-spinner">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!isLoading && errorMessage">
      <p style="color: red;">{{ errorMessage }}</p>
    </div>
    <div *ngIf="!isLoading && snapshots.length === 0 && !errorMessage">
      <p>Keine historischen Snapshots vorhanden.</p>
    </div>
    <div *ngIf="!isLoading && snapshots.length > 0">
      <p>In diesem Diagramm sehen Sie die historische Entwicklung ihres Portfolios.</p>
      <div style="height: 400px; position: relative;">
        <canvas #portfolioLineChart id="portfolioLineChart"></canvas>
      </div>
    </div>
  </div>
  