<p>home works!</p>

<h2>Depotübersicht</h2>
<p>In diesem Bereich finden Sie eine Auflistung Ihrer aktuellen Depotpositionen.</p>
<p>Sortieren Sie Ihre Transaktionen ganz nach Ihren Bedürfnissen, indem Sie einfach auf die Spaltenüberschriften
  klicken.</p>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading">
  <table class="table-transaktionen">
    <thead>
      <tr>
        <th (click)="sortTable('isin')">ISIN</th>
        <th (click)="sortTable('anzahl')">Anzahl</th>
        <th (click)="sortTable('einstandspreis')">Einstandspreis</th>
        <th (click)="sortTable('currentPrice')">Aktueller Wert</th>
        <th (click)="sortTable('changeTotal')">Wertänderung - Total</th>
        <th (click)="sortTable('changeProzent')">Wertänderung - Prozentual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of depots">
        <td>{{ item.isin }}</td>
        <td>{{ item.anzahl }}</td>
        <td>{{ item.einstandspreis }}</td>
        <td>{{ item.currentPrice }}</td>
        <td>{{ item.changeTotal}}</td>
        <td class="change-cell">
          <span class="change-icon" [ngClass]="{'up': item.changeProzent > 0, 'down': item.changeProzent < 0}">
            <i class="fas fa-caret-up" *ngIf="item.changeProzent > 0"></i>
            <i class="fas fa-caret-down" *ngIf="item.changeProzent < 0"></i>
          </span>
          <span class="change-text" [ngClass]="{'positive': item.changeProzent> 0, 'negative': item.changeProzent < 0}">
            {{ item.changeProzent }}%
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>