@import "@fortawesome/fontawesome-free/css/all.css";


.market-status-box {
  padding: 2vh;
  background-color: #f8f8f8;
  border-radius: 0.5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
  text-align: center;
}

.market-status-box h2 {
  margin-bottom: 5px;
  color: #244467;
  font-weight: bold;
}

.market-status-box p {
  margin: 0;
  color: #333;
}


.table-transaktionen {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Rest of the code remains unchanged */




.table-transaktionen {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-transaktionen th,
.table-transaktionen td {
  padding: 12px 15px;
}

.table-transaktionen th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table-transaktionen tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-transaktionen tr:nth-child(odd) {
  background-color: #ffffff;
}


.table-transaktionen tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.table-transaktionen tr:last-child {
  font-weight: bold;
}

.change-cell {
  display: flex;
  align-items: center;
}

.change-icon {
  margin-right: 5px;
  font-size: 13px;
}

.change-icon i {
  color: inherit;
}

.change-text {
  font-size: 14px;
  /* Kleinere Schriftgröße */
  color: inherit;
  /* Erbt die Farbe von übergeordneten Elementen */
  display: flex;
  /* Verwendet Flexbox */
  align-items: center;
  /* Zentriert vertikal */
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.sell-button {
  width: calc(100% - 30px);
  padding: 8px;
  background-color: #244467;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1px;
  /* Abstand zum vorherigen Element */
}

.sell-button:hover {
  background-color: #1a356c;
}


tfoot td {
  font-weight: bold;
  padding: 12px 15px;
  font-size: 16px;
  /* Größere Schriftgröße */
}

tfoot td {
  background-color: #009879;
  color: #ffffff;
}



tfoot td:last-child {
  border: none;
  /* Entfernt die rechte Grenze für die letzte Zelle */
}

/* Neuer CSS-Stil für den Aktienbroker-Look */
.broker-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

.broker-container h2 {
  margin-bottom: 10px;
  color: #244467;
  font-weight: bolder;
}

.broker-container p {
  margin-bottom: 15px;
  color: #333;
}

.broker-container button {
  background-color: #244467;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.broker-container button:hover {
  background-color: #1a356c;
}

.portfolio-value {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0px;
  border-radius: 5px;
  z-index: 999;
  /* Stellen Sie sicher, dass der Gesamtpreis über dem Diagramm liegt */
}

.portfolio-value p {
  margin: 0;
  color: #333;
  font-size: 24px;
  font-weight: bolder;
}


.logo-container {
  display: flex;
  align-items: center;
  /* Zentriert den Aktiennamen vertikal */
}

.logo-container img.logo {
  margin-right: 10px;
  /* Abstand zwischen Bild und Aktienname */
  border-radius: 3px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* Reduziere den Schatten */
  max-width: 40px;
  /* Verringere die maximale Breite */
  max-height: 40px;
  /* Verringere die maximale Höhe */
}

.logo-container span.name {
  font-weight: bold;
  /* Setze den Aktiennamen fett */
  color: #333;
  /* Farbe des Aktiennamens */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Passende Höhe für den Ladeindikator */
  font-size: 40px;
  /* Ändere die Größe des Icons */
  color: #244467;
}

/* Neuer CSS-Stil für die Aktiendetails im Aktienbroker-Stil */
.details-row {
  background-color: #f3f3f3;
}

.details-container {
  padding: 10px;
}

.details-container h4 {
  margin-bottom: 10px;
  color: #244467;
  font-weight: bolder;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.detail {
  flex: 1;
}

.label {
  font-weight: bold;
  color: #244467;
}

.value {
  color: #333;
}

.tabcontent {
  max-height: 300px;
}
