<div class="market-status-box">
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div *ngIf="!isLoading">
    <h2>{{ marketStatus }}</h2>
    <p *ngIf="marketStatus === 'Die Börse ist aktuell geöffnet.'">Börse schließt: {{ nextOpenTime }}</p>
    <p *ngIf="marketStatus !== 'Die Börse ist aktuell geöffnet.'">Börse öffnet: {{ nextOpenTime }}</p>
  </div>
</div>

<!-- Broker-Container -->
<div class="broker-container">
  <h2> <i class="fa-solid fa-sack-dollar"></i> Gesamtwert des Portfolios </h2>
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div *ngIf="!isLoading">
    <p style="font-size: larger; font-weight: bold;">{{ calculatePortfolioValue() | number }}$ | {{ depots.length }}
      Depotpositionen: {{ depots.length - 1 }} Aktien, 1 CASH</p>
    <!-- Market Status Box -->

  </div>
</div>


<!-- Broker-Container -->
<div class="broker-container">
  <h2> <i class="fa-solid fa-money-bill-transfer"></i> Depotübersicht </h2>

  <!-- Paragraph -->
  <p>In diesem Bereich finden Sie eine Auflistung Ihrer aktuellen Depotpositionen. Sortieren Sie die Spalten
    individuell, indem Sie auf den Spaltennamen klicken.<br> Um Detailinformationen zu einer bestimmten Aktie zu
    erhalten, klicken Sie einfach auf die entsprechende Aktienposition.</p>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <!-- Wenn nicht geladen und keine Depots vorhanden -->
  <div *ngIf="!isLoading && !keineDepots">
    <!-- Tabelle -->
    <table class="table-transaktionen">
      <!-- Tabellenkopf -->
      <thead>
        <tr>
          <th (click)="sortTable('isin')">
            Aktie
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'isin' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'isin' && !sortAscending, '': sortColumn !== 'isin'}"></i>
          </th>
          <th (click)="sortTable('anzahl')">
            Anzahl
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'anzahl' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'anzahl' && !sortAscending, '': sortColumn !== 'anzahl'}"></i>
          </th>
          <th (click)="sortTable('einstandspreis')">
            Einstandspreis
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'einstandspreis' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'einstandspreis' && !sortAscending, '': sortColumn !== 'einstandspreis'}"></i>
          </th>
          <th (click)="sortTable('currentPrice')">Aktueller Wert
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'currentPrice' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'currentPrice' && !sortAscending, '': sortColumn !== 'currentPrice'}"></i>
          </th>
          <th (click)="sortTable('changeTotal')">Wertänderung - Total
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'changeTotal' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'changeTotal' && !sortAscending, '': sortColumn !== 'changeTotal'}"></i>
          </th>
          <th (click)="sortTable('changeProzent')">Wertänderung - Prozentual
            <i class="fas"
              [ngClass]="{'fa-solid fa-arrow-up': sortColumn === 'changeProzent' && sortAscending, 'fa-solid fa-arrow-down': sortColumn === 'changeProzent' && !sortAscending, '': sortColumn !== 'changeProzent'}"></i>
          </th>

          <th>Handeln</th>
        </tr>
      </thead>
      <tbody>
        <!-- Schleife durch die Depotpositionen -->
        <ng-container *ngFor="let item of depots">
          <!-- Überprüfe, ob das Element nicht "CASH" ist -->
          <ng-container *ngIf="item.isin !== 'CASH'; else cashRow">
            <!-- Normale Tabellenzeile ohne Verkaufsbutton für "CASH" -->
            <tr (click)="toggleDetails(item)">
              <!-- Aktie -->
              <td>
                <div class="logo-container">
                  <img class="logo" [src]="item.logo" alt="Logo">
                  <span class="name">{{ item.isin }}</span>
                </div>
              </td>
              <!-- Anzahl -->
              <td>{{ item.anzahl }}</td>
              <!-- Einstandspreis -->
              <td>{{ item.einstandspreis }}$</td>
              <!-- Aktueller Wert -->
              <td>{{ item.currentPrice }}$</td>
              <!-- Wertänderung - Total -->
              <td>{{ item.changeTotal}}$</td>
              <!-- Wertänderung - Prozentual -->
              <td>
                <span class="change-cell">
                  <i class="fas"
                    [ngClass]="{'fa-arrow-trend-up': item.changeProzent > 0, 'fa-arrow-trend-down': item.changeProzent < 0}"
                    [ngStyle]="{'color': item.changeProzent > 0 ? 'green' : (item.changeProzent < 0 ? 'red' : 'black'), 'margin-right': '5px'}"></i>
                  <span class="change-text"
                    [ngClass]="{'positive': item.changeProzent > 0, 'negative': item.changeProzent < 0}">
                    {{ item.changeProzent }}%
                  </span>
                </span>
              </td>
              <!-- Handeln -->
              <td>
                <button class="sell-button" (click)="openVerkaufenPopup(item); $event.stopPropagation()">Aktie
                  verkaufen</button>
              </td>
            </tr>
            <!-- Detail-Row -->
            <tr *ngIf="item.showDetails" class="details-row">
              <td colspan="7">
                <div class="details-container">
                  <h4> <i class="fa-solid fa-circle-info"></i> {{item.isin}} - Detailinformationen</h4>
                  <div class="detail-row">
                    <div class="detail">
                      <span class="label">Aktueller Preis: </span>
                      <span class="value">{{ item.currentPrice }}$</span>
                    </div>
                    <div class="detail">
                      <span class="label">Absolute Änderung: </span>
                      <span class="value">{{ item.d }}$</span>
                    </div>
                  </div>
                  <div class="detail-row">
                    <div class="detail">
                      <span class="label">Tageshöchstpreis: </span>
                      <span class="value">{{ item.h }}$</span>
                    </div>
                    <div class="detail">
                      <span class="label">Prozentuale Änderung: </span>
                      <span class="value">{{ item.dp }}%</span>
                    </div>
                  </div>
                  <div class="detail-row">
                    <div class="detail">
                      <span class="label">Tagestiefstpreis: </span>
                      <span class="value">{{ item.l }}$</span>
                    </div>
                    <div class="detail">
                      <span class="label">Markt: </span>
                      <span class="value">{{ item.exchange }}</span>
                    </div>
                  </div>
                  <div class="detail-row">
                    <div class="detail">
                      <span class="label">Währung: </span>
                      <span class="value">{{ item.currency }}</span>
                    </div>
                    <div class="detail">
                      <span class="label">Land: </span>
                      <span class="value">{{ item.country }}</span>
                    </div>
                  </div>
                  <div class="detail-row">
                    <div class="detail">
                      <span class="label">Ticker: </span>
                      <span class="value">{{ item.ticker }}</span>
                    </div>
                    <div class="detail">
                      <span class="label">Branche: </span>
                      <span class="value">{{ item.finnhubIndustry }}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <!-- Cash-Row -->
          <ng-template #cashRow class="cash-row">
            <tr>
              <td>
                <div class="logo-container">
                  <img class="logo" [src]="item.logo" alt="Logo">
                  <span class="name">{{ item.isin }}</span>
                </div>
              </td>
              <td>{{ item.anzahl }}</td>
              <td></td>
              <td>{{ item.currentPrice }}$</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </ng-template>
        </ng-container>
      </tbody>

      <!-- Tabellenfuß -->
      <tfoot>
        <tr>
          <td colspan="3">Gesamt</td>
          <td>{{ calculatePortfolioValue()}}$</td>
          <td>{{ totalChangeTotal() }}$</td>
          <td>{{ totalChangeProzent() }}%</td>
          <td></td> <!-- Platzhalter für die Handeln-Spalte -->
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- Wenn nicht geladen und keine Depots vorhanden -->
  <div *ngIf="!isLoading && keineDepots">
    <p>Sie haben noch keine Aktien im Depot.</p>
  </div>
</div>



<div class="broker-container">
  <h2> <i class="fa-solid fa-chart-pie"></i> Analyse</h2>
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="chart-container" *ngIf="keineDepots && !isLoading">
    <p>Sie haben leider keine Aktien im Depot. Somit kann keine Analyse vorgenommen werden.</p>
  </div>
  <div class="tab" *ngIf="!keineDepots && !isLoading">
    <p>In diesem Bereich finden Sie eine Analyse über Ihr Depot. Das Depot kann nach den Anteilen der einzelnen
      Unternehmen oder nach den einzelnen Branchen analysiert werden.<br> Um den prozentualen Anteil einer Position zu
      sehen, hovern Sie einfach über das Segment. Es ist auch möglich einzelne Segmente vorübergehend auszublenden.
      <br>Klicken sie dazu auf das entsprechende Element in der Legende.</p>

    <button class="tablinks" (click)="openTab('portfolioDistributionChart')">Portfolio Chart</button>
    <button class="tablinks" (click)="openTab('industryDistributionChart')">Industry Chart</button>
  </div>

  <div [hidden]="activeTab !== 'portfolioDistributionChart'" class="tabcontent">
    <canvas id="portfolioDistributionChart"></canvas>
  </div>

  <div [hidden]="activeTab !== 'industryDistributionChart'" class="tabcontent">
    <canvas id="industryDistributionChart"></canvas>
  </div>
</div>