<div class="broker-container">
  <div class="market-status-box">
    <p>{{ marketStatus }} <span *ngIf="marketStatus === 'Die Börse ist geschlossen.'">Nächste Öffnung: {{ nextOpenTime }}</span></p>
  </div>
  <h2> <i class="fa-solid fa-sack-dollar"></i> Gesamtwert des Portfolios </h2>
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div *ngIf="!isLoading">
    <p style="font-size: larger; font-weight: bold;">{{calculatePortfolioValue() | number}}$ | {{depots.length}} Depotpositionen</p>
  </div>

</div>

<div class="broker-container">
  <h2> <i class="fa-solid fa-money-bill-transfer"></i> Depotübersicht </h2>

  <p>In diesem Bereich finden Sie eine Auflistung Ihrer aktuellen Depotpositionen. Sortieren Sie die Spalten
    individuell, indem Sie auf den Spaltennamen klicken.<br> Um Detailinformationen zu einer bestimmten Aktie zu
    erhalten, klicken Sie einfach auf die entsprechende Aktienposition.</p>



  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="!isLoading && !keineDepots">
    <table class="table-transaktionen">
      <thead>
        <tr>
          <th (click)="sortTable('isin')">Aktie</th>
          <th (click)="sortTable('anzahl')">Anzahl</th>
          <th (click)="sortTable('einstandspreis')">Einstandspreis</th>
          <th (click)="sortTable('currentPrice')">Aktueller Wert</th>
          <th (click)="sortTable('changeTotal')">Wertänderung - Total</th>
          <th (click)="sortTable('changeProzent')">Wertänderung - Prozentual</th>
          <th>Handeln</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of depots">
          <tr (click)="toggleDetails(item)">
            <td>
              <div class="logo-container">
                <img class="logo" [src]="item.logo" alt="Logo">
                <span class="name">{{ item.isin }}</span>
              </div>
            </td>
            <td>{{ item.anzahl }}</td>
            <td>{{ item.einstandspreis }}$</td>
            <td>{{ item.currentPrice }}$</td>
            <td>{{ item.changeTotal}}$</td>
            <td>
              <span class="change-cell">
                <i class="fas"
                  [ngClass]="{'fa-arrow-trend-up': item.changeProzent > 0, 'fa-arrow-trend-down': item.changeProzent < 0}"
                  [ngStyle]="{'color': item.changeProzent > 0 ? 'green' : (item.changeProzent < 0 ? 'red' : 'black'), 'margin-right': '5px'}"></i>
                <span class="change-text"
                  [ngClass]="{'positive': item.changeProzent > 0, 'negative': item.changeProzent < 0}">
                  {{ item.changeProzent }}%
                </span>
              </span>
            </td>
            <td>
              <button class="sell-button" (click)="openVerkaufenPopup(item); $event.stopPropagation()">Aktie
                verkaufen</button>
            </td>
          </tr>
          <tr *ngIf="item.showDetails" class="details-row">
            <td colspan="7">
              <div class="details-container">
                <h4> <i class="fa-solid fa-circle-info"></i> {{item.isin}} - Detailinformationen</h4>
                <div class="detail-row">
                  <div class="detail">
                    <span class="label">Aktueller Preis: </span>
                    <span class="value">{{ item.currentPrice }}$</span>
                  </div>
                  <div class="detail">
                    <span class="label">Absolute Änderung: </span>
                    <span class="value">{{ item.d }}$</span>
                  </div>
                </div>
                <div class="detail-row">
                  <div class="detail">
                    <span class="label">Tageshöchstpreis: </span>
                    <span class="value">{{ item.h }}$</span>
                  </div>
                  <div class="detail">
                    <span class="label">Prozentuale Änderung: </span>
                    <span class="value">{{ item.dp }}%</span>
                  </div>
                </div>
                <div class="detail-row">
                  <div class="detail">
                    <span class="label">Tagestiefpreis: </span>
                    <span class="value">{{ item.l }}$</span>
                  </div>
                  <div class="detail">
                    <span class="label">Industrie: </span>
                    <span class="value">{{ item.finnhubIndustry }}</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>


        </ng-container>
      </tbody>


      <tr>
        <td>
          <div class="logo-container">
            <img class="logo"
              src="https://www.shutterstock.com/image-vector/credit-card-vector-icon-isolated-600nw-1177277911.jpg"
              alt="Cash Icon">
            <span class="name">CASH</span>
          </div>
        </td>
        <td></td> <!-- Leer lassen für die Anzahl -->
        <td></td> <!-- Leer lassen für den Einstandspreis -->
        <td>{{ kontostand}}$</td>
        <td></td>
        <td></td> <!-- Leer lassen für die Wertänderung - Prozentual -->
        <td></td> <!-- Platzhalter für die Handeln-Spalte -->
      </tr>
      <tfoot>
        <tr>
          <td colspan="3">Gesamt</td>
          <td>{{ calculatePortfolioValue()}}$</td>
          <td>{{ totalChangeTotal() }}$</td>
          <td>{{ totalChangeProzent() }}%</td>
          <td></td> <!-- Platzhalter für die Handeln-Spalte -->
        </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="!isLoading&&keineDepots">
    <p>Sie haben noch keine Aktien im Depot.</p>
  </div>
</div>



<div class="broker-container">
  <h2> <i class="fa-solid fa-chart-pie"></i> Analyse</h2>
  <div *ngIf="isLoading" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="chart-container" *ngIf="!keineDepots">
    <canvas id="portfolioDistributionChart"></canvas>
    <!-- Gesamtpreis -->

  </div>
  <div *ngIf="keineDepots">
    <p>Da Sie keine Aktien im Depot haben ist keine Analyse möglich.</p>
  </div>
</div>
