.table-transaktionen {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-transaktionen th,
.table-transaktionen td {
  padding: 12px 15px;
}

.table-transaktionen th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table-transaktionen tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-transaktionen tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-transaktionen tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
  .table-transaktionen thead {
    display: none;
  }

  .table-transaktionen,
  .table-transaktionen tbody,
  .table-transaktionen tr,
  .table-transaktionen td {
    display: block;
    width: 100%;
  }

  .table-transaktionen tr {
    margin-bottom: 15px;
  }

  .table-transaktionen td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table-transaktionen td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }




}


.change-cell {
  display: flex;
  align-items: center;
}

.change-icon {
  margin-right: 5px;
  font-size: 13px;
}

.change-icon i {
  color: inherit;
}

.change-text {
  font-size: 14px;
  /* Kleinere Schriftgröße */
  color: inherit;
  /* Erbt die Farbe von übergeordneten Elementen */
  display: flex;
  /* Verwendet Flexbox */
  align-items: center;
  /* Zentriert vertikal */
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.sell-button {
  width: calc(100% - 30px);
  padding: 8px;
  background-color: #244467;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1px;
  /* Abstand zum vorherigen Element */
}

.sell-button:hover {
  background-color: #1a356c;
}