<div class="login-container" *ngIf="!isLoggedIn">
    <div class="tab-container">
        <ul class="tab-nav">
            <li class="tab" [class.active]="activeTab === 'login'">
                <a (click)="changeTab('login')">Login</a>
            </li>
            <li class="tab" [class.active]="activeTab === 'register'">
                <a (click)="changeTab('register')">Registrieren</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" *ngIf="activeTab === 'login'">
                <form class="login-form">
                    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required>
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
                    <button type="submit" (click)="onLogin()">Login</button>
                </form>
                <p *ngIf="(!username || !password) && formSubmitted" class="error-message">Bitte füllen Sie beide Felder aus.</p>
                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
                <p class="sucess-message" *ngIf="successMessage">{{ successMessage }}</p>
            </div>
            <div class="tab-pane" *ngIf="activeTab === 'register'">
                <form class="login-form">
                    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required>
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
                    <p>Wie viel Startguthaben möchten Sie einzahlen? (min. 1$)</p>
                    <input type="number" name="startBudget" [(ngModel)]="startBudget" min="1" step="1" placeholder="Geben Sie die Anzahl ein" pattern="[0-9]*" required>
                    <button type="submit" (click)="onRegister()">Registrieren</button>
                </form>
                <p *ngIf="(!username || !password || startBudget<1) && formSubmitted" class="error-message">Bitte füllen Sie alle Felder korrekt aus.</p>
                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
                <p class="sucess-message" *ngIf="successMessage">{{ successMessage }}</p>
            </div>
        </div>
    </div>
</div>
<div class="logout-container" *ngIf="isLoggedIn">
    <h1>Profil-Übersicht</h1>
    <p><b>Username:</b> {{ showUsername }}</p>
    <button type="submit" id="changePasswordButton" (click)="openChangePasswordDialog()">Passwort ändern</button>
    <button type="submit" (click)="onLogout()">Logout</button>
</div>