.login-container {
    margin: 0 auto;
    width: 35vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-container h2 {
    margin-bottom: 2vh;
    font-size: 3vh;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="number"] {
    width: 100%;
    padding: 1.5vh;
    margin-bottom: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 1vh;
    background-color: #244467;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1.5vh;
}

.login-form button:hover {
    background-color: #1a356c;
}

.logout-container {
    margin: 0 auto;
    width: 35vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.logout-container h1 {
    margin-bottom: 2vh;
    font-size: 3vh;
    text-align: center;
}

.logout-container p {
    text-align: center;
}

.logout-container button {
    width: 100%;
    padding: 1vh;
    background-color: #244467;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logout-container button:hover {
    background-color: #1a356c;
}

.tab-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5vh;
}

.tab {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #f9f9f9;
}

.tab:hover{
    cursor: pointer;
}

.tab a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.tab.active {
    background-color: #244467;
}

.tab.active a {
    color: #fff;
    font-weight: bold;
}

#changePasswordButton{
    margin-bottom: 1.5vh;
}