<div class="verkaufenPopup">
    <h2 mat-dialog-title><b>Einzahlung</b></h2>
    <mat-dialog-content>
        <p>Geben Sie den Betrag ein, den sie einzahlen möchten.</p>
    </mat-dialog-content>
    <mat-form-field id="inputAnzahlFormField">
        <input id="anzahlInput" matInput type="number" min="0" step="1" placeholder="Einzahlungsbetrag" [(ngModel)]="betrag" maxlength="5" pattern="[0-9]*">

    </mat-form-field>
    <mat-dialog-content *ngIf="isLoading">
        <p>Verarbeitung der Einzahlung...</p>
    </mat-dialog-content>
    <mat-dialog-content *ngIf="errorMessage!==''">
        <p class="errorMessage">{{this.errorMessage}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Abbrechen</button>
        <button mat-button (click)="einzahlen(betrag)">Einzahlen</button>
    </mat-dialog-actions>
</div>
