<div class="changePasswordPopUp">
    <h2 mat-dialog-title><b>Passwort ändern</b></h2>
    <mat-dialog-content>
        <p>Bitte füllen Sie die Felder aus, um das Passwort zu ändern.</p> 
        <p id="addInformation">Nach der erfolgreichen Änderung werden Sie zum Login weitergeleitet, 
            um eine erneute Anmeldung mit den neuen Benutzerdaten vorzunehmen.</p>
    </mat-dialog-content>
    <mat-form-field class="passwordFields">
        <input matInput type="password" placeholder="Altes Password" [(ngModel)]="oldPassword" >
    </mat-form-field>
    <mat-form-field class="passwordFields">
        <input matInput type="password" placeholder="Neues Passwort" [(ngModel)]="newPassword1" >
    </mat-form-field>
    <mat-form-field class="passwordFields">
        <input matInput type="password" placeholder="Neues Passwort wiederholen" [(ngModel)]="newPassword2" >
    </mat-form-field>
    <mat-dialog-content *ngIf="isLoading">
        <p>Verarbeitung der Änderung...</p>
    </mat-dialog-content>
    <mat-dialog-content *ngIf="errorMessage!==''">
        <p class="errorMessage">{{this.errorMessage}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Abbrechen</button>
        <button mat-button (click)="changePassword()">Passwort ändern</button>
    </mat-dialog-actions>
</div>