


/* HEADER */
header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #244467;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
}

.first-lane {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vh;
    order: 1;
    display: flex;
    flex-direction: row;
}

.headline {
    margin: 0;
    margin:auto;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 2vh;
}

.headline h1 {
    margin: 0;
    font-size: 4vh;
    font-weight: bold;
}

#headline-small {
    font-weight: normal;
}

.first-lane-left {
    width: 15%;
    display: flex;
    align-items: center;
}

.first-lane-left img {
    height: 70%;
    margin-left: 4.5vh;
}

.first-lane-right {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.first-lane-right a{
    height: 75%;
    margin: 0;
    text-decoration: none;
    font-size: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.first-lane-right img {
    height: 100%;
    margin-right: 4.5vh;
}

.first-lane-right a p{
    color: #000000;
    margin: 0;
}

nav {
    order: 2;
    margin-right: 20px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0;
    height: 5vh;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 4.5vh;
}

nav ul li a {
    color: #fff;
    font-size: 2vh;
    text-decoration: none;
}

nav button{
    display: none;
}

.active-link {
    font-weight:bold;
}

/*MAIN*/
.content {
    position: relative;
    z-index: 0;
    margin-top: 18vh; /* Abstand nach oben */
    margin-bottom: 10vh; /* Abstand nach unten */
    width: 98%; /* Breite des Inhalts */
    margin-left: auto;
    margin-right: auto;
}

/*FOOTER*/

footer {
    z-index: 1;
    background-color: #244467;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    text-align: center;
    padding: 0.5vh;
}
footer p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.5vh;
}

.background-container {
    position: fixed; /* Damit es immer im Hintergrund bleibt */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Volle Bildschirmhöhe */
    background-image: url("/assets/background-login.jpg"); /* Bildpfad */
    background-size: cover; /* Skaliert das Bild */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert Wiederholung */
    z-index: -2; /* Damit Inhalte darüber liegen */
}

/* Styling für das mobile Menü */
@media (max-width: 878px) {
    .headline{
        display: none;
    }

    .first-lane{
        justify-content: space-between;
    }

    .first-lane-right{
        justify-content: flex-end;
        width: 10vh;
    }

    .navbar ul {
        z-index: -1;
        display: none; /* Standardmäßig verstecken */
        width: 100vw;
        flex-direction: column;
        text-align: center;
        position: absolute; /* Das Menü wird absolut positioniert */
        transform: translateX(-50%); /* Zentrieren des Menüs */
        background-color: #333; /* Hintergrundfarbe für das Menü */
        padding: 0;
        margin: 0;
        border-radius: 5px;
        right: 0;
        left: 50%; /* Zentrieren des Menüs */
    }
  
    .navbar ul.open {
        display: block;
        background-color: #244467;
    }
    
    .navbar .menu-toggle {
        display: block;
        height: 100%;
    }

    .menu-toggle i {
        font-size: 2.5vh;
        margin: 0; /* Entfernt alle Margen */
        padding: 0; /* Entfernt jegliches Padding */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle {
        align-items: center;
        display: flex; /* Setzt den Button als Flex-Container */
        justify-content: center; /* Zentriert das Icon horizontal */
        align-items: center; /* Zentriert das Icon vertikal */
        border: none; /* Entfernt den Rand */
        background-color: #244467; /* Hintergrundfarbe des Buttons */
        color: white; /* Farbe des Icons */
    }

    .navbar{
        position: relative;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .navbar ul li {
        margin: 0; /* Abstand zwischen den Listenelementen */
        border-bottom: 1px solid #555; /* Linie zwischen den Elementen */
        padding: 1vh 0 1vh 0;
    }

    
    .navbar ul li:last-child {
        border-bottom: none;
        padding-bottom: 1vh;
    }
}