<header>
  <div class="first-lane">
    <div class="first-lane-left">
      <img src="assets/ngc-logo.jpg" alt="Next-Gen-Capital-Logo">
    </div>
    <div class="headline">
      <h1>NGC&nbsp;</h1> 
      <h1 id="headline-small"> | Next-Gen-Capital</h1>
    </div>
    <div class="first-lane-right">
      <a routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><p>{{username}}</p></a>
      <a routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><img src="assets/user-icon.png" alt="user-icon"></a>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a routerLink="/kaufen" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Kaufen</a>
      </li>
      <li>
        <a routerLink="/nutzer-liste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Nutzer-Liste</a>
      </li>
      <li>
        <a routerLink="/transaktion-liste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Transaktion-Liste</a>
      </li>
      <li>
        <a routerLink="/zahlung-liste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Zahlung-Liste</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <h1>Content:</h1>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>Next-Gen-Capital</p>
  <p>&copy; 2024</p>
</footer>